@import 'helpers/mixins.styl'
@import 'helpers/var.styl'

@import 'base/font.styl'
@import 'base/base.styl'
@import 'base/z-index.styl'

@import 'blocks/btn.styl'
@import 'blocks/arrows.styl'

@import 'blocks/section.styl'
@import 'blocks/header.styl'
@import 'blocks/header-blog.styl'
@import 'blocks/logo.styl'
@import 'blocks/menu.styl'
@import 'blocks/contact-form.styl'

@import 'blocks/main.styl'
@import 'blocks/projects.styl'
@import 'blocks/projects-item.styl'
@import 'blocks/services.styl'
@import 'blocks/partners.styl'
@import 'blocks/teams.styl'
@import 'blocks/teams-item.styl'

@import 'blocks/contacts-full.styl'

@import 'blocks/blog.styl'
@import 'blocks/blog-item.styl'
@import 'blocks/blog-full.styl'
@import 'blocks/blog-full-slider.styl'

@import 'blocks/policy.styl'

@import 'blocks/services-full.styl'

@import 'blocks/philosophy.styl'
@import 'blocks/advantages.styl'
@import 'blocks/arkell.styl'
@import 'blocks/coders.styl'
@import 'blocks/reviews.styl'
@import 'blocks/feedback.styl'

@import 'blocks/footer.styl'
@import 'blocks/contacts.styl'
@import 'blocks/social.styl'


