.loader
    z-index 20

.logo
    z-index 19

.header__phone
    z-index 19

.header__cookie
    z-index 1

.menu
    &__btn
        z-index 19

    &__content
        z-index 18

.projects
    &__title
        z-index 1

.projects-item
    &__title
        z-index 2

.teams
    &__title
        z-index 1
