.contacts
    color white
    font-size 0
    padding-top 30px
    padding-bottom 10px
    padding-right 10px
    padding-left 10px
    max-width 760px
    margin-left auto

    @media (min-width 480px)
        padding-top 35px
        padding-bottom 12px

    @media (min-width 768px)
        padding-top 40px
        padding-bottom 14px

    @media (min-width 992px)
        padding-top 45px
        padding-bottom 16px

    @media (min-width 1170px)
        padding-top 60px
        padding-bottom 20px

    &__content
        {ibt}
        width 50%

    &__social
        {ibt}
        text-align right
        width 50%

    &__title
        margin-bottom .8em

    &__item
        margin-bottom 20px

        @media (min-width 768px)
            margin-bottom 35px

    &__subtitle
        margin-bottom 4px

        @media (min-width 768px)
            margin-bottom 10px


        h3
            margin-top 0
            margin-bottom 0
            font-family OpenSans
            font-weight 300
            opacity .3
            font-size 14px

            @media (min-width 480px)
                font-size 16px

            @media (min-width 768px)
                font-size 18px

            @media (min-width 992px)
                font-size 20px

            @media (min-width 1170px)
                font-size 22px

    &__text
        font-family OpenSans
        font-weight 300
        font-size 16px

        @media (min-width 480px)
            font-size 18px

        @media (min-width 768px)
            font-size 21px

        @media (min-width 992px)
            font-size 27px

        @media (min-width 1170px)
            font-size 30px

    &__copyright
        font-family OpenSans
        font-weight 300
        opacity .3
        font-size 14px
        margin-top 40px

        @media (min-width 480px)
            font-size 16px

        @media (min-width 768px)
            font-size 18px

        @media (min-width 992px)
            font-size 20px

        @media (min-width 1170px)
            font-size 22px

        a
            color white
            white-space nowrap
            text-decoration none
