.loader
    background-color white
    overflow hidden
    position fixed
    left 0
    top 0
    right 0
    bottom 0

    &__img
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

#nprogress .spinner
    display none

#nprogress .bar
    height 5px
    background-color #2169d5

#nprogress .peg
    box-shadow none
